<h1>Home</h1>
<ul>
    {{#each people}}
    <li><a href = "/details?first={{this.first}}">{{first}}</a></li>
    {{/each}}
</ul>






{{!-- <h1>What is up</h1>
<ul>
    {{#each people}}
    <li><a href = "/details = {{first}}">{{first}}</a></li>
    {{/each}}
</ul> --}}
